![License: MIT](https://img.shields.io/badge/License-MIT-yellow.svg)
<!-- Remplace ce lien CI par celui du repo où tu pousseras ce projet généré -->
![CI](https://github.com/YOUR_GH_ORG/YOUR_GENERATED_REPO/actions/workflows/ci.yml/badge.svg)

# {{ project_name }}

API minimal Flask + SQLite

## Démarrer
```bash
docker compose up --build
