from fastapi import FastAPI
from .routes import health, auth, vehicles{% if entities %}, crud{% endif %}
from .db import create_tables

app = FastAPI(title="{{ project_name }}", version="1.0.0")

# Créer les tables au démarrage
create_tables()

# Inclure les routers
app.include_router(health.router, prefix="")
app.include_router(auth.router)
app.include_router(vehicles.router)
{% if entities %}
app.include_router(crud.router)
{% endif %}