version: "3.9"
services:
  api:
    build: .
    container_name: {{ project_name }}-api
    environment:
      - DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/{{ project_name }}
      - JWT_SECRET=devsecret
    ports:
      - "8000:8000"
    depends_on:
      - db
  db:
    image: postgres:16
    container_name: {{ project_name }}-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: {{ project_name }}
    volumes:
      - dbdata:/var/lib/postgresql/data
    ports:
      - "5433:5432"
volumes:
  dbdata: {}